
#map {
  width: 100%;
padding: 10px;
  background-color: #f0f0f0; /* Ganti warna latar belakang peta */

  height: 400px;
}
a.skiplink {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
button>* {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  
  z-index: 1000;
  
  font-size: 14px;
  border: none;
  cursor: pointer;
}
#convert{
  background-color: #3498db;
  padding: 10px 15px;

}
#marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: rgb(214, 48, 37);
  opacity: 0.5;
}
#convert {
  background-color: #4a74a8;
}
a.skiplink:focus {
  clip: auto;
  height: auto;
  width: auto;
  background-color: #fff;
  padding: 0.3em;
}
#vienna {
  text-decoration: none;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.popover-body {
  min-width: 276px;
  /* background-color: azure; */
}
#authentication-modal.hidden {
  display: none;
}

#map:focus {
  outline: #4a74a8 solid 0.15em;
}
